<div class="container mt-5">
  <h1 class="text-left mb-4">Services</h1>

  <div class="row m-0">
    <div class="col-4">
      <app-first-comp></app-first-comp>
    </div>
    <div class="col-4">
      <app-second-comp></app-second-comp>
    </div>
    <div class="col-4">
      <app-third-comp></app-third-comp>
    </div>
  </div>

  <div class="mt-4"></div>

  <div class="row m-0">
    <div class="card">
      <div class="card-header bg-primary text-white">Logs</div>
         <div class="card-body">
               <div class="row">
                  <div class="col-12">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>LogName</th>
                          <th>ComponentName</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td>1</td>
                          <td>value</td>
                          <td>Firstcomponent</td>

                        </tr>
                        <tr>
                          <td></td>
                          <td>1</td>
                          <td>value</td>
                          <td>Secondcomponent</td>

                        </tr>
                        <tr>
                          <td></td>
                          <td>1</td>
                          <td>value</td>
                          <td>Thirdcomponent</td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
               </div>
         </div>
     </div>

   </div>


</div>
