

  <div class="card">
    <div class="card-header bg-primary text-white">Logs</div>
       <div class="card-body">
             <div class="row">
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>ComponentName</th>
                        <th>ComponentDetails</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>1</td>
                        <td>FirstComponent</td>
                        <td>CompanyName : Misard.com and Industry : IT</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
             </div>
       </div>
   </div>

